* {
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.page-header {
  width: 100%;
  background-color: white;
  color: black;
  padding-left: 5%;
  padding-bottom: 5%;
  line-height: 150%;
  font-size: 50px;
  top: 0;
  z-index: 1;
}

.fixed {
  position: fixed;
}

.white {
  background-color: white;
  width: 100%;
  height: 100px;
  z-index: 2;
  border: 2px solid black;
}

.grid-container {
  display: grid;
  margin: 10%;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
}

.grid-item {
  padding: 15px;
  border-radius: 5px;
  align-self: center;
  color: #333;
  background-color: white;
}

.red {
  background-color: rgb(190, 25, 24);
  color: gold;
}

.saffron {
  background-color: rgb(255, 100, 0);
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.header {
  border: 3px solid;
  position: sticky;
  top: 110px;
  color: white;
  z-index: 3;
}

.header-red {
  color: rgb(190, 25, 24);
}

.header-saffron {
  color: rgb(255, 100, 0);
}

.header-black {
  color: black;
}
