* {
  font-family: 'PT Serif', Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
}

.grid-container {
  display: grid;
  margin: 10%;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
  text-align: center;
}

.grid-item {
  padding: 15px;
  border-radius: 5px;
  align-self: center;
  color: #333;
}

.span-grid {
  grid-column: 2 / span 3;
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(190, 25, 24) 0%,
    rgb(190, 25, 24) 20%,
    rgb(255, 100, 0) 42%,
    rgb(255, 100, 0) 58%,
    black 80%,
    black 100%
  );
}

.red {
  background-color: rgb(190, 25, 24);
  color: gold;
}

.saffron {
  background-color: rgb(255, 100, 0);
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.header {
  border: 3px solid;
}

.header-red {
  color: rgb(190, 25, 24);
}

.header-saffron {
  color: rgb(255, 100, 0);
}

.header-black {
  color: black;
}
